name: Setup Node Environment
inputs:
    npmAuthToken:
      required: true
runs:
    using: 'composite'
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  #v5.0.0
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.tool-versions'
          cache: 'yarn'
          cache-dependency-path: 'yarn.lock'

      - name: Set NPM auth token
        shell: bash
        run: yarn config set 'npmScopes["midnight-ntwrk"].npmAuthToken' "${{ inputs.npmAuthToken }}"

      - name: Install dependencies
        shell: bash
        run: yarn install
