name: Lint & Build

env:
  NODE_AUTH_TOKEN: ${{ secrets.MIDNIGHTCI_PACKAGES_READ }}

on:
  pull_request:
    branches: ['**']
  push:
    branches: ['main']

permissions: {}

jobs:
  build:
    name: Build & Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  #v6.0.0
      - name: Setup Node Environment
        uses: ./.github/workflows/setup-env
        with:
          npmAuthToken: $NODE_AUTH_TOKEN

      - name: Run lint
        run: yarn lint

      - name: Run build
        run: yarn build
