name: Lint & Build

env:
  NODE_AUTH_TOKEN: ${{ secrets.MIDNIGHTCI_PACKAGES_READ }}

on:
  pull_request:
    branches: ['**']
  push:
    branches: ['main']

permissions: {}

jobs:
  build:
    name: Build & Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  #v6.0.1
      - name: Setup Node Environment
        uses: ./.github/workflows/setup-env
        with:
          npmAuthToken: $NODE_AUTH_TOKEN

      - name: Run lint
        run: yarn lint

      - name: Run build
        run: yarn build
